*{
    margin: 0;
    padding: o;
    color: whitesmoke;
}


header nav img{
    background-color: black;
    width: 100px;
    height: 120px;
}

section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/flutterlogo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.top-container{
    display: flex;
    width: 80%;
    margin: auto;
    align-content: center;
}

.top-container div{
    align-items: center;
    margin: 10px;
    width: 100%;
}

.right-side{
    text-align: center;
    background-color: orangered;
    justify-content: center;
    display: flex;
    
}

.left-side div{
    display: flex;
    justify-content: space-between;
}

.left-side div a{
    text-decoration: none;
    color: skyblue;
}

.middle-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding: auto;
    align-content: center;
}

.middle-container div{
align-items: center;
margin: 10px;
width: 100%;
padding: 10px;
}
.sub{
        display: flex;
        justify-content: space-between;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
}

footer button{
   background-color: black;
   color: white;
   border: solid white;
}

@media(max-width: 700px){
    .middle-container{
        flex-direction: column;
    }
}